#u120
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u133_clip,#u167_clip
{
	overflow: hidden;
}

#u133,#u139,#u145,#u162,#u172,#u157,#u151,#u167,#u177
{
	position: relative;
}

