/*  
    Recommeded CSS
    ==============
*/
body{
    background-color: black;
}

header{
    background-color: yellow;
    width: 105%;
    height: 120px;
    margin-bottom:-45px; 
    position: ;
    margin-top: -10px;
    margin-left: -10px;
    font-size: 88px;
    text-align: center;
    font-family: LobsterTwo;
    z-index: 10;
    box-shadow: 5px 5px 20px #6f6f6f;
}

 
@media screen and (max-width: 900px){
    header {
        font-size: 56px;
        height: 80px;
        position: fixed;
    }
    div {
        margin-top: -5px;
        padding-bottom: 25px;
        margin-right: 80px;
    }
    header{
        text-align: right;
    }

    a.menu-link {
       
        z-index: 100;
        font-size: 12px;


    }

}
@media screen and (max-width: 600px){
    header {
        font-size: 32px;
        height: 60px;
        width: 110%;
    }
    div {
        margin-top: 0px;
        margin-right: 100px;
        padding-bottom: 0px;
    }

    header{
        text-align: right;
    }

    a.menu-link {
       
        z-index: 100;
        font-size: 12px;


    }




}



.panel {
    position: fixed;
    left: -10.625em; /*or width of your navigation panel*/
    width: 10.625em; /*should match the above value*/
    z-index: 420;
    background: #101820;
}

/*  
    Demo Specific Styles
    ====================
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
}



.wrap {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

  
}

.panel a {
    color: #fff;
}

.menu {
    width: 20px;
    height: 20px;
    z-index: 420;
    position: fixed;
}




ul {
   
    width: 100%;
    height: 100%;
    

     
 
    z-index: 3; 
}

li img{
    height: 110px;
    width: 110px;
}

@media screen and (max-width: 900px){
    nav#menu.panel li img {
        width: 90px;
        height: 90px;
        margin-left: 80px;
    }
}
@media screen and (max-width: 600px){
    li img {
        width: 60px;
        height: 60px;
    }
}

#map_canvas {
        width: 100%;
        height: 800px;
        background-color: ;
        z-index: 1;
        margin-top: 25px;
      }

a.menu-link{
    font-size: 58px;
    position: fixed;
    margin-top: -80px;
    color: black;
    text-decoration: none;
}  



